%div{align: "center", style: "margin-top: 20px; text-align: center; font-size: 65%; margin-bottom: 20px;"}
  %a{href: '/disclaimer'}
    Disclaimer
  %span - &#169;
  %span= Time.new.year.to_s + ' Dynamic Stock Market Analysis Ltd.'