


/ = image_tag("logo.png") 
/ #map_plain{style= 'width:634px; height:742px; position: relative; margin-left: 25.1em'}
/     #map_poi{style='width:634px; height:742px; position: relative; margin-left: 25.1em'}
/     #map_route{style='width:634px; height:742px; position: relative; margin-left: 25.1em'}
/     <div class="rectangle-1"><a href="#" class="basic-button" id="dom-elem-171"><span>My Places</span></a>
/     <a href="#" class="basic-button-1" id="dom-elem-165"><span>Get Directions</span></a>
/     <i class="icon-download-alt icon-2"></i>
/     <i class="icon-print icon-3"></i>

/     .rectangle-2"
/         <input type="text" value="text input" class="textinput" id="dom-elem-30">
/         <input type="text" value="text input" class="textinput-1" id="dom-elem-30">
/         <input type="text" value="text input" class="textinput-2" id="dom-elem-30">
/         <input type="text" value="text input" class="textinput-3" id="dom-elem-30">
/         <input type="text" value="text input" class="textinput-4" id="dom-elem-30">
/         <input type="text" value="text input" class="textinput-5" id="dom-elem-30">
/         <input type="text" value="text input" class="textinput-6" id="dom-elem-30">
/         <input type="text" value="text input" class="textinput-7" id="dom-elem-30">
/         <input type="text" value="text input" class="textinput-8" id="dom-elem-30">
/         <input type="text" value="text input" class="textinput-9" id="dom-elem-30">

/       <a class="link" id="dom-elem-191">Hide Options</a>
/       <a class="link-1" id="dom-elem-258">Add Destination</a>
/       <a href="#" class="basic-button-6" id="dom-elem-180"><span>GET DIRECTION</span></a></div>
/     .rectangle-3"
/     	.rectangle-4"


/  .rectangle-5
/  .rectangle-6

.container3
	= image_tag("logo.png") 

.container4 
	.center.hero-unit 
		%h1 Let Us Lead the Way 
		%a{class: 'btn btn-large btn-primary', href: '/signup'} Signup