%div{style: 'border: solid 1px black; width: 560px; padding: 30px;'}
  %div{style: 'font-size: 22px; font-weight: bold; text-align: center;'}
    Reduce Fuel Consumption & Save Time
  %div{style: 'font-size: 18px; font-weight: bold; margin-top: 30px; text-align: center;'}
    %a{class: 'btn btn-primary', href: '/signup'} Signup
