.hero-unit.center
	.landingcaptioncontiner
		%h1 Reduce Fuel Consumption & Save Time
		.span6
			%h2 RouteCaptain allows you to optimize your routes up to 50 delivery locations with variables such as time frames and truck capacity. 
		.span6 
			%a{class: 'btn btn-large btn-primary', href: '/signup'} Signup for Beta